<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="./static/lib/css//bootstrap.min.css">
    <link rel="stylesheet" href="./static/lib/css/keen-dashboards.css">
    <link rel="stylesheet" href="./static/lib/css/dc.css">
    <link rel="stylesheet" href="./static/css/custom.css">
</head>

<body class="application">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="./">OFF Dashboard</a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <!-- Time Chart -->
                <div class="col-sm-8">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Number of Products
                        </div>
                        <div class="chart-stage">
                            <div id="time-chart"></div>
                        </div>
                    </div>
                </div>
                <!-- Time Chart -->
                <!-- Metric 1 -->
                <div class="col-sm-4">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Number total of products
                        </div>
                        <div class="chart-stage">
                            <div id="number-products-total"></div>
                        </div>
                    </div>
                </div>
                <!-- Metric 1 -->
                <!-- Metric 2 -->
                <div class="col-sm-4">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Range date
                        </div>
                        <div class="chart-stage">
                            <div id="date-range"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Number of products added
                        </div>
                        <div class="chart-stage">
                            <div id="number-products"></div>
                        </div>
                    </div>
                </div>
                <!-- Metric 2 -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <!-- Salt chart-->
                <div class="col-sm-3">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Salt levels
                        </div>
                        <div class="chart-stage">
                            <div id="salt-levels"></div>
                        </div>
                    </div>
                </div>
                <!-- Salt chart -->
                <!-- Salt chart-->
                <div class="col-sm-3">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Sugars levels
                        </div>
                        <div class="chart-stage">
                            <div id="sugars-levels"></div>
                        </div>
                    </div>
                </div>
                <!-- Salt chart -->
                <!-- Salt chart-->
                <div class="col-sm-3">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Fat levels
                        </div>
                        <div class="chart-stage">
                            <div id="fat-levels"></div>
                        </div>
                    </div>
                </div>
                <!-- Salt chart -->
                <!-- Salt chart-->
                <div class="col-sm-3">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Saturated-fat levels
                        </div>
                        <div class="chart-stage">
                            <div id="saturated-fat-levels"></div>
                        </div>
                    </div>
                </div>
                <!-- Salt chart -->
            </div>
        </div>
    </div>
    <hr>
    <p class="small text-muted">Built with &#9829; by <a href="https://keen.io">Scot Scriven</a></p>
    </div>
    <script src="./static/lib/js/jquery-2.1.4.min.js"></script>
    <script src="./static/lib/js/bootstrap.min.js"></script>
    <script src="./static/lib/js/crossfilter.js"></script>
    <script src="./static/lib/js/d3.js"></script>
    <script src="./static/lib/js/dc.js"></script>
    <script src="./static/lib/js/queue.js"></script>
    <script src="./static/lib/js/keen.min.js"></script>
    <script src='./static/js/graphs.js' type='text/javascript'></script>
</body>

</html>
