#date-range {
 font-weight: bold;
 font-size: 20px;
}

#number-products {
    font-size: 40px;
}

#number-products-total {
    font-size: 40px;
}

.dc-chart g.row text {
    fill: black;
    font-size: 12px;
}